{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}

<h1>Blogs by blogers</h1>

<div class="container">
    {% for blog in blogs %}
        <div class="border p-2">
            <p>Blog Topic: {{blog.topic}}</p>
            <p>Blog: {{blog.data}}</p>
            <p>Posted on: {{ blog.date }}</p>
        </div>
        <div>
            {% for comment in comments %}
            <p>{{ comment.comment }}</p>
            <p>{{ comment.date }}</p>
            {% endfor %}
        </div>
        <div>
            {{wtf.quick_form(comment_form)}}
        </div>
    {% endfor %}
</div>

{% endblock %}